.env
main.py
__pycache__/

app/__pycache__

database/__pycache__
database/queries/__pycache__

bot/__pycache__
bot/callbacks/__pycache__
bot/handlers/__pycache__
bot/utils/__pycache__
bot/state_machine/__pycache__

bot/handlers/user_commands/__pycache__

bot/utils/inline_buttons/__pycache__
bot/utils/keyboard_buttons/__pycache__
bot/utils/states/__pycache__
